<h1>User listing</h1>
	<table>
	  <tr>
		<th><%= label_tag 'login' %></th>
		<th><%= label_tag 'name' %></th>
		<th><%= label_tag 'email' %></th>
		<th></th>
	  </tr>
	<% for user in @users %>
	  <tr>
		<td><%=h link_to @user.login, user %></td>
		<td><%=h @user.name %></td>
		<td><%=h @user.email %></td>
	    <td><%= link_to "Remove", user, :confirm => "Are you sure?", :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
	
	<%= will_paginate @users %>
<% end %>